@model IEnumerable<AsyncInn.Models.AmenityPackage>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OceanView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MountainView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minibar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateBeach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hottub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penthouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContinentalBreakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coffee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OceanView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MountainView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minibar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateBeach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hottub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penthouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContinentalBreakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coffee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AmenityPackageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AmenityPackageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AmenityPackageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
